.react-datepicker__header {
  background-color: #FAF5FF !important;
}
.datePicker {
  z-index: 75 !important;
}
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__close-icon {
  margin-top: 3px;
  display: flex;
  margin-right: 5px;
  justify-content: center;
  align-items: center;
}

.react-datepicker__close-icon::after {
  height: 20px !important;
  padding: 0 0 3px 0 !important;
  color: #718096 !important;
  background-color: #E9D8FD !important;
  width: 20px !important;
  font-size: 16px !important;
}
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: #805AD5 !important;
}
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: #805AD5 !important;
  font-weight: bold !important;
}
.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #E9D8FD !important;
}
.react-datepicker__day--keyboard-selected:hover,
.react-datepicker__month-text--keyboard-selected:hover,
.react-datepicker__quarter-text--keyboard-selected:hover,
.react-datepicker__year-text--keyboard-selected:hover {
  background-color: #6B46C1 !important;
}
.react-datepicker__day--selected:hover{
  background-color: #6B46C1 !important;
}